<form action="/login" method="post" style="margin-top:15px; border: solid 2px black; padding:4px">
    <label for="usrName">Username:</label>
    <input id="usrName" name="user" type="text" required>
    <input type="submit" name="" id="" value="login">
</form>