<h1>Random products generated with Faker</h1>
<button id="randomize">Randomize!</button>
<div id="productList"></div>
<form action="/api/productos-test" style="margin-top:15px; border: solid 2px black; padding:4px">
    <label for="">Desafio clase 22 consigna 1 →</label>
    <input type="submit" name="" id="" value="Go to /api/productos-test">
</form>
<h2>Chat </h2>
<form id="chatForm">
    <input id="mailIn" type="text" placeholder="email">
    <input id="msgIn" type="text" placeholder="message">
    <input type="submit" value="send">
</form>
<div id="chatPool"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="../client.socket.js"></script>